.artist-header {
    position: relative;
    width:100%;
    min-height: 320px;
    @media(min-width: 768px) {
        display: flex;
        align-items: flex-start;
        padding: 20px;
    }
    &__background-image-holder {
        background: linear-gradient(rgba(17,17,17,0.2), rgba(17,17,17,1)), url('https://i.scdn.co/image/c1b216802d3f28bd0c2c594e76705db7fdc0754d');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @media(min-width: 768px) {
            filter: blur(5px);
        }
    }
    &__image {
        display: none;
        @media(min-width: 768px) {
            display: block;
            width: 280px;
            min-width: 280px;
            height: auto;
            z-index: 100;
        }
        @media(min-width: 1080px) {
            width: 320px;
            min-width: 320px;
        }
    }
    &__content-holder {
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(min-width: 768px) {
            position: static;
            z-index: 100;
            margin-left: 32px;
            align-items: flex-end;
            text-align: right;
            padding: 0;
            align-self: center;
        }
    }
    &__genre-block-holder {
        max-width: 500px;
    }
}