.artist-collection {
    margin-top: 32px;
    margin-bottom: 32px;
    &__title {
        font-family: $font-stack--primary;
        font-weight: $font-weight--bold;
        font-size: em(36px);
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}