.authorise {
    &__container {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    &__title {
        font-family: $font-stack--primary;
        font-size: em(32px);
        font-weight: $font-weight--bold;
        color: $color--white;
        margin: 8px;
    }
    &__paragraph {
        font-family: $font-stack--secondary;
        font-size: em(18px);
        font-weight: $font-weight--light;
        color: $color--white;
        margin-top: 8px;
        margin-bottom: 32px;
    }
    &__button {
        font-family: $font-stack--primary;
        font-size: em(14px);
        font-weight: $font-weight--bold;
        color: $color--white;
        background-color: $color--brand-green;
        padding: 8px 24px;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color ease-in-out 0.3s;
        &:hover {
            background-color: $color--brand-green-darkened;
        }
    }
}