.button {
    font-family: $font-stack--primary;
    font-size: em(12px);
    font-weight: $font-weight--bold;
    color: $color--white;
    background-color: $color--brand-green;
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 0 0 $color--brand-green-darkened;
    cursor: pointer;
    transition: background-color ease-in-out 0.25s;
    &:hover {
        background-color: $color--brand-green-darkened;
    }
    &__container {
        text-align: center;
    }
}