.carousel {
    padding: 0 12px;
    margin: 16px auto;
    max-width: $max-section-width;
    &__inner-container {
        width: 100%;
        position: relative;
        overflow-x: hidden;
        padding: 20px 0px;
        & .heading {
            margin-left: 8px;
        }
    }
    &__sliding-container {
        display: flex;
        align-items: flex-start;
        position: relative;
        transition: transform 0.4s ease-out;
    }
    &__content-holder {
        display: flex;
        flex-wrap: wrap;
        width: 100%; 
    }
}