.inline-nav {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    &__list {

    }
    &__list-item {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0 16px;
        @media(min-width: 520px) {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__link {
        padding: 8px;
        font-family: $font-stack--secondary;
        font-weight: $font-weight--regular;
        font-size: em(16px);
        color: $color--white;
        border-bottom: solid 2px transparent;
        transition: border-bottom ease-in-out 0.25s;
        &.active {
            border-bottom: solid $color--brand-green 2px;
        }
    }
}