.nav-toggle {
    position: relative;
    height: 25px;
    width: 30px;
    cursor: pointer;
    &__line {
        background-color: $color--white;
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        transition: all ease-out 0.4s
    }
    &__line-1 {
        top: 0;
    }
    &__line-2 {
        top: 10px;
    }
    &__line-3 {
        bottom: 0;
    }
}

.nav-open .nav-toggle__line-1,
.nav-open .nav-toggle__line-2 {
    top: 10px;
    transform: rotate(45deg);
}

.nav-open .nav-toggle__line-3 {
    top: 10px;
    transform: rotate(-45deg);
}
