.nav {
    margin-top: 16px;
    .svg-inline--fa,
    .fas {
        margin-right: 16px;
        width: 24px;
    }
    &__list {

    }
    &__list-item {
        padding: 0 8px;
    }
    &__link {
        padding: 8px;
        display: block;
        font-family: $font-stack--primary;
        font-weight: $font-weight--bold;
        font-size: em(16px);
        color: $color--white;
        border-bottom: solid 2px $color--brand-grey-lightened;
        transition: background 0.25s ease-out;
    }
    &__sub-nav-label {
        font-family: $font-stack--primary;
        font-weight: $font-weight--bold;
        font-size: em(16px);
        margin-top: 32px;
        text-align: center;
    }
    &__sub-nav {
        
    }
    &__sub-nav-list-item {
        padding: 0 8px;
    }
    &__sub-nav-link {
        padding: 8px;
        display: block;
        font-family: $font-stack--primary;
        font-weight: $font-weight--bold;
        font-size: em(12px);
        color: $color--white;
        border-bottom: solid 2px $color--brand-grey-lightened;
        transition: background 0.25s ease-out;
    }
}

.nav__link.active,
.nav__sub-nav-link.active {
    color: $color--brand-green;
}

.nav__link:hover,
.nav__sub-nav-link:hover {
    background-color: $color--brand-grey-lightened;
    border-radius: 4px;

}
