.recent-albums {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    &__title {
        font-family: $font-stack--primary;
        font-weight: $font-weight--bold;
        font-size: em(36px);
        text-align: left;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    &__button {
        font-family: $font-stack--primary;
        font-size: em(16px);
        font-weight: $font-weight--bold;
        color: $color--white;
        background-color: $color--brand-green;
        padding: 16px 40px;
        border-radius: 4px;
        display: block;
        cursor: pointer;
        transition: background-color ease-in-out 0.3s;
        &:hover {
            background-color: $color--brand-green-darkened;
        }
        @media(min-width: 600px) {
            display: inline-block;
        }
    }
}

