.recent-track {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    &:nth-child(even) {
        background-color: $color--brand-grey-lightened;
    }
    &.is-selected {
        color: $color--brand-green;
    }
    &__image {
        width: 50px;
        height: auto;
    }
    &__name {
        font-family: $font-stack--secondary;
        font-weight: $font-weight--light;
        font-size: em(16px);
    }
    &__length {
        font-family: $font-stack--secondary;
        font-weight: $font-weight--light;
        font-size: em(12px);
        margin-left: auto;
        display: inline-block;
        padding-left: 16px;
    }
    .svg-inline--fa,
    .fas {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 24px;
    }
}
