.welcome {
    &__container {
        min-height: 320px;
        background-color: #2e1e72;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__heading {
        font-family: sans-serif;
        color: #fff;
        font-size: em(46px);
        font-weight: 700;
    }
}