/********************************************************
BASE STYLES
********************************************************/

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    color: #fff;
    background-color: $color--brand-grey-darkened;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
}

// Text

a {
    text-decoration: none;
}


// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// Button

button {
	outline: 0;
}
