.main-container {
    min-height: 100vh;
    padding-bottom: 120px;
    padding-top: 1px;
    background-color: $color--brand-grey;
    position: relative;
    top: 0;
    left: 0;
    transition: all ease-out 0.3s;
    @media(min-width: 768px) {
        padding-bottom: 100px;
    }
}

.nav-open .main-container {
    transform: translateX(250px);
    overflow-x: hidden;
}


